<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/styles/layout.css">

  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script lang="javascript" src="/libs/xlsx.core.min.js"></script>
  <!-- <script type="text/javascript" src="/js/userGroup.js"></script> -->
  <script type="text/javascript" src="/js/rights.js"></script>
  <style type="text/css">
      label {
          padding-top: 7px;
      }

      label.infoLeftLabel {
          width: 11%;
      }

      label.infoLabel {
          padding-left: 20px;
          width: 12%;
      }

      label.infoHead {
          /*border: 1px solid yellow;*/
          width: 14%;
          text-align: center;
          padding-top: 0;
          color:#999999;
          font-size:20px;
      }
      .form-group {
        margin-bottom: 12px;
      }

      .col-sm-2 {
          /*width:7%;*/
          padding-left: 0;
          padding-right: 0;
      }
  </style>
  <title>
      <%=title%>
  </title>
</head>
<body style="height:100%">
  <div class="container" style="height:100%;width:100%;">
	<div class="row clearfix" style="height:85%">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
        <a href="/?name=&advNum=&advDep=&advPlant=&advDate=&advQuality=&advCon=" class="navbar-brand a-btn">Home</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a class="a-btn" href="/download?<%-conds%>">Download</a>
						</li>
						<li>
							 <a class="a-btn" id="btnAdd">Add</a>
						</li>
            <li>
               <input id="iptCsv" type="file" style="display:none">
							 <a id="upload" class="a-btn">Upload</a>
						</li>
						<li class="dropdown">
							 <a class="dropdown-toggle a-btn" data-toggle="dropdown">Management<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a id="btnPer" class="a-btn">Permission</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#" class="a-btn">Other</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- <ul class="nav navbar-nav"> -->
            <form class="navbar-form navbar-right" role="search" action="/" method="get">
  						<div class="form-group">
  							<input id="iptSearch" name="name" type="text" class="form-control" />
  						</div>
              <button type="submit" class="btn btn-default">Submit</button>
              <img id="btnSearch" src="images/icons/24/044-down-arrow.png">
              <div id="dlgSearch" class="panel panel-info" style="display:none">
                  <div class="panel-body" style="padding-bottom:0">
                          <div class="form-group">
                            <label style="width:56px">工 号</label>
                            <input name="advNum" type="text" style="width:100px">
                            <label style="width:56px">部 门</label>
                            <input name="advDep" type="text" style="width:100px">
                            <label style="width:56px">厂 别</label>
                            <input name="advPlant" type="text" style="width:100px">
                          </div>
                          <div class="form-group">
                            <label>违纪日期</label>
                            <input name="advDate" type="date" style="width:100px">
                            <label>违纪类型</label>
                            <select name="advQuality" style="width:100px;height:25px">
                                <option value="" style="display:none"></option>
                                <option value="盗窃财物">盗窃财物</option>
                                <option value="怠忽工作">怠忽工作</option>
                                <option value="非吸烟区吸烟">非吸烟区吸烟</option>
                                <option value="管理失职">工作失职</option>
                                <option value="擅自离岗">擅自离岗</option>
                                <option value="不服从上级管理">不服从上级管理</option>
                                <option value="违反门禁规定">违反门禁规定</option>
                                <option value="违反作业规定">违反作业规定</option>
                                <option value="寻衅闹事">寻衅闹事</option>
                                <option value="违反考勤规定">违反考勤规定</option>
                                <option value="其他">其他</option>
                            </select>
                            <label>合同类型</label>
                            <input name="advCon" type="text" style="width:100px">
                          </div>
                  </div>
                  <button id="advSearch" type="submit" class="btn btn-primary" style="height:30px;float:right;margin-bottom:3px;margin-right:10px;">Search</button>
              </div>
					  </form>
					<!-- </ul> -->
				</div>
			</nav>
      <div id="tableForm">
  			<table id="infoTable" class="table table-hover table-condensed">
          <caption></caption>
          <thead>
              <tr id='trHead'>
                  <!-- <th type="hidden">ID</th> -->
                  <th>Date</th>
                  <th>Department</th>
                  <th>Name</th>
                  <th>Event</th>
                  <th>Details</th>
                  <th>Attachment</th>
              </tr>
          </thead>
          <tbody id="lstInfo">
              <%for (var i=0;i<listInfo.length || i<pageSize;i++)
              {
                var x=listInfo[i];
                    x=x || {_id: "",WDate: "",Dep:"",Name: "",Quality: "",extFilename: "",TxtArea: ""};
              %>
                  <tr oid="<%=x._id%>">
                      <td class='WDate a-btn' style="width:10%"><%=x.WDate%></td>
                      <td class='Dep a-btn' style="width:10%"><%=x.Dep%></td>
                      <td class='Name a-btn' style="width:10%"><%=x.Name%></td>
                      <td class='Event a-btn' style="width:10%"><%=x.Quality%></td>
                      <td class='Details a-btn'>
                          <p style="height:20px;width:650px;display:block;overflow:hidden"><%=x.TxtArea%></p>
                      </td>
                      <td class='Attachment'style="width:100px">
                          <a href="/getAttachment?id=<%=x._id%>" target="_blank" style="height:20px;width:80px;display:block;overflow:hidden;">
                              <%=x.extFilename%>
                          </a>
                      </td>
                  </tr>
              <%}%>
          </tbody>
  			</table>
      </div>
		</div>
	</div>
  <div id="bottom">
    <div style="text-align:center;">
      <ul id="btnPage" class="pagination pagination-lg">
        <%
        var n=parseInt(records/pageSize);
        n+=(records%pageSize===0?0:1);
        %>
          <%if(pageNumber===0){%>
            <li class="pageBlock" class="disabled"><a style="color:#BBBBBB">Prev</a></li>
          <%}else{%>
            <li class="pageBlock"><a href="?<%-conds%>&pageNumber=<%=pageNumber-1%>&pageSize=<%=pageSize%>">Prev</a></li>
          <%}%>
          <%for (var i=0;i<n;i++){%>
              <li<%-(pageNumber===i?" class=\"active\"":"")%>><a style="width:45px;" href="/?<%-conds%>&pageNumber=<%=i%>&pageSize=<%=pageSize%>" class="page-button" style="text-align:center">
                <%=(i+1)%>
              </a></li>
          <%}%>
          <%if(pageNumber===n-1){%>
            <li class="pageBlock" class="disabled"><a style="color:#BBBBBB">Next</a></li>
          <%}else{%>
            <li class="pageBlock"><a href="?pageNumber=<%=pageNumber+1%>&pageSize=<%=pageSize%>">Next</a></li>
          <%}%>
      </ul>
    </div>
  </div>
  <div class="jsiPager"><%=pageNumber%>:<%=n%>:<%=pageSize%></div>
</body>
<div id="dlgEdit" class="panel panel-primary" style="display:none">
    <div class="panel-heading" style="padding:0;height:35px">
        <div style="padding:7px 7px;">
            <span>Detail Informations</span>
            <img class="btnClose" src="/images/icons/png/close.png" style="float:right">
        </div>
    </div>
    <div class="panel-body" >
        <div class="container">
            <div class="row">
                <form id="frmInfo" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 infoHead">受理日期</label>
                        <div class="col-sm-2">
                            <input id="iptSDate" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 infoHead">员工信息</label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">工号</label>
                            <div class="col-sm-2">
                                <input id="iptNum" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">姓 名</label>
                            <div class="col-sm-2">
                                <input id="iptName" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">联系电话</label>
                            <div class="col-sm-2">
                                <input id="iptTel" type="text" class="form-control">
                            </div>
                        </div>
                        <label class="col-sm-2" style="width:14%;">    </label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">部门</label>
                            <div class="col-sm-2">
                                <input id="iptDep" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">厂别</label>
                            <div class="col-sm-2">
                                <input id="iptPlant" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">邮箱</label>
                            <div class="col-sm-2">
                                <input id="iptEmail" type="text" class="form-control">
                            </div>
                        </div>
                        <label class="col-sm-2" style="width:14%;"> </label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">职务</label>
                            <div class="col-sm-2">
                                <input id="iptPos" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">入职日期</label>
                            <div class="col-sm-2">
                                <input id="EntryDate" type="date" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">合同类型</label>
                            <div class="col-sm-2">
                                <input id="contractType" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 infoHead">违纪信息</label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">违纪日期</label>
                            <div class="col-sm-2">
                                <input id="iptWDate" type="date" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">开出单位</label>
                            <div class="col-sm-2">
                                <select id="selUnit" class="form-control">
                                    <option value="安保">安保</option>
                                    <option value="安保(ADM)">安保(ADM)</option>
                                    <option value="安保(FATP)">安保(FATP)</option>
                                    <option value="EHS">EHS</option>
                                    <option value="部门">部门</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                            <label class="col-sm-2 infoLabel">性质概述</label>
                            <div class="col-sm-2">
                                <select id="quality" class="form-control">
                                    <option value="盗窃财物">盗窃财物</option>
                                    <option value="怠忽工作">怠忽工作</option>
                                    <option value="非吸烟区吸烟">非吸烟区吸烟</option>
                                    <option value="管理失职">工作失职</option>
                                    <option value="擅自离岗">擅自离岗</option>
                                    <option value="不服从上级管理">不服从上级管理</option>
                                    <option value="违反门禁规定">违反门禁规定</option>
                                    <option value="违反作业规定">违反作业规定</option>
                                    <option value="寻衅闹事">寻衅闹事</option>
                                    <option value="违反考勤规定">违反考勤规定</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-2" style="width:14%;"> </label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">违纪内容</label>
                            <div class="col-sm-9" style="padding-left:0">
                                <textarea id="txtArea" class="form-control" rows="2" resize:none></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 infoHead">处罚结果</label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">奖惩条例</label>
                            <div class="col-sm-2">
                                <input id="iptRule" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">处分类型</label>
                            <div class="col-sm-4" style="padding-left:0;padding-right:0">
                                <select id="punType" class="form-control">
                                    <option value="口头警告">口头警告</option>
                                    <option value="书面警告">书面警告</option>
                                    <option value="严重书面警告">严重书面警告</option>
                                    <option value="回劳务公司">退回劳务公司</option>
                                    <option value="立即解除劳动合同">立即解除劳动合同</option>
                                </select>
                            </div>
                        </div>
                        <label class="col-sm-2" style="width:14%;">   </label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">处理状态</label>
                            <div class="col-sm-2">
                                <select id="selStatus" class="form-control">
                                    <option value="待处理">待处理</option>
                                    <option value="已完成">已完成</option>
                                </select>
                            </div>
                            <label class="col-sm-2 infoLabel">完成时间</label>
                            <div class="col-sm-2">
                                <input id="FinishDate" type="date" class="form-control">
                            </div>
                              <label class="col-sm-2 infoLabel">附件</label>
                              <div class="col-sm-2">
                                  <button id="btnFile" type="button" style="padding-left:0;border:1px solid blue">upload</button>
                                  <div class="col-sm-2" style="margin-top:8px;margin-left:3px;float:left;"><span class="replaceable"></span></div>
                              </div>
                              <input id="inputfile" type="file" style="display:none">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 infoHead">相关人员</label>
                        <div class="col-sm-9 form-group">
                            <label class="col-sm-2 infoLeftLabel">ER负责人</label>
                            <div class="col-sm-2">
                                <input id="iptOfficer" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">领取人</label>
                            <div class="col-sm-2">
                                <input id="receiver" type="text" class="form-control">
                            </div>
                            <label class="col-sm-2 infoLabel">领取时间</label>
                            <div class="col-sm-2">
                                <input id="GotDate" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hdID" />
                    <input type="hidden" id="hdFileContent" />
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button id="btnDel" class="btn btn-danger" style="float:left;margin-bottom:10px;" data-toggle="modal" data-target="#dlgDelete">Delete</button>
        <button id="saveInfo" class="btn btn-primary" style="float:right;margin-bottom:10px;">Save</button>
    </div>
</div>
<div id="dlgPer" class="panel panel-default" style="position:absolute;border:1px solid #3979D8;display:none">
	<div class="panel-heading" style="background-color:#3979D8">
		<h3 class="panel-title">
			权限管控
      <img id="closePer" src="/images/icons/png/close.png" style="float:right">
		</h3>
	</div>
	<div class="panel-body" style="padding:3px 5px">
		<div class="perLeft" style="float:left;width:22%;height:480px;background-color:#F7F7F7">
      <div style="margin-left:5px;margin-top:17px">
        <span style="color:#666666;font-size:20px;">Administrator</span>
        <img id="addAdm" src="images/icons/24/001-add-blue.png" style="float:right;margin-right:5px">
      </div>
      <ul id="adm">
        <%for(let i=0;i<perAdm.length;i++){
          let a=perAdm[i];
              a=a || {_id:"",ntid:"",name:"",role:""};
        %>
          <li>
            <span><%=a.name%></span>
            <img class="perDel" perType="adm" pid="<%=a._id%>" src="/images/icons/png/close.png">
          </li>
        <%}%>
      </ul>
		</div>
		<div class="perRight" style="float:left;width:78%;height:480px;padding:15px 25px">
        <table id="perTable" border="0" cellspacing="0" cellpadding="0">
          <thead>
              <tr>
                  <td>Name</td>
                  <td>Title</td>
                  <td>Department</td>
                  <td>
                    <img id="addUser" src="images/icons/24/001-add-blue.png" style="float:right;margin-right:15px">
                  </td>
              </tr>
              <tr id="trline"></tr>
          </thead>
          <tbody id="tbUser">
              <%for(let i=0;i<perUser.length;i++){
                let u=perUser[i];
                    u=u || {_id:"",ntid:"",name:"",role:"",title:"",Department:""};
              %>
              <tr>
                <td><%=u.name%></td>
                <td><%=u.title%></td>
                <td><%=u.Department%></td>
                <td>
                  <img class="perDel" perType="user" pid="<%=u._id%>" src="/images/icons/png/close.png">
                </td>
              </tr>
              <%}%>
            </tbody>
        </table>
		</div>
	</div>
</div>
</html>
